@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {font-size: 62.5%;}

:root {
  --gray: hsl(0, 0%, 17%);
  --dark-gray: hsl(0, 0%, 59%);
}

body {
  position: relative;
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}